<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.ml.saddhu.bihudaily">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- huawei push -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".mvp.view.impl.activity.SplashActivity_"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.view.impl.activity.MainActivity_"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.view.impl.activity.StoryDetailActivity_"
            android:launchMode="singleTop"
            android:parentActivityName=".mvp.view.impl.activity.MainActivity_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.view.impl.activity.CommentsListAcitivty_"
            android:parentActivityName=".mvp.view.impl.activity.StoryDetailActivity_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.view.impl.activity.EditorListActivity_"
            android:parentActivityName=".mvp.view.impl.activity.MainActivity_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.view.impl.activity.EditorActivity_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.view.impl.activity.TestActivity_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.view.impl.activity.GuideTestActivity_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.view.impl.activity.ImageViewerActiviy_"
            android:parentActivityName=".mvp.view.impl.activity.MainActivity_"
            android:theme="@style/AppTheme.NoActionBar.ImageViewer" />
        <activity
            android:name=".mvp.view.impl.activity.SettingsActivity_"
            android:parentActivityName=".mvp.view.impl.activity.MainActivity_"
            android:theme="@style/AppTheme.NoActionBar.Settings" />


        <!--QQsdk-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106085175" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden">
        </activity>
    </application>

</manifest>